.about-inner {
    display: flex;
    justify-content: space-between;
}
.about-left img {
    max-width: 500px;
    height: 520px;
}
.about-left {
    position: relative;
    z-index: 1;
}
.about-left::before {
    content: '';
    border: 10px solid #1461ff;
    position: absolute;
    width: 50%;
    height: 92%;
    z-index: -1;
    top: 17px;
}
.about-left::after {
    content: '';
    background-image: url('../../images/dott.jpg');
    position: absolute;
    width: 50%;
    height: 95%;
    background-size: cover;
    left: 20px;
    top: 27px;
    z-index: -1;

}
.about-right h3 {
    color: #000;
    font-weight: 600;
    font-size: 22px;
    text-transform: capitalize;
}
.about-line {
    background-color: #000;
    width: 50px;
    height: 4px;
    margin-top: 15px;
}
.about-right h2 {
    color: #1461ff;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.5;
    margin: 20px 0;
}
.about-text {
    color: #777;
    letter-spacing: 0.5px;
    line-height: 1.5;
    font-size: 14px;
}
.about-table {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 25px;
    border-bottom: 1px solid #777;
    margin-top: 35px;
    margin-bottom: 30px;
}
.about-table-item {
    width: 48%;
    display: flex;
}
.about-item-left {
    color: #222;
    font-weight: 500;
    font-size: 14px;
    width: 40%;
}
.about-item-left i {
    font-size: 10px;
    margin-right: 8px;
}
.about-item-right {
    color: #777;
    font-size: 14px;
}
.about-table-item:first-child, .about-table-item:nth-child(2) {
    margin-bottom: 25px;
}