.counter {
    background-image: url('../../images/counter.jpg');
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}
.counter::before {
    content: '';
    background: -webkit-linear-gradient(
-45deg
,rgba(88, 195, 255,.7) 0,rgba(0, 77, 230,.7) 40%,rgba(0, 59, 177,.7) 100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.counter-inner {
    display: flex;
    justify-content: space-between;
}
.counter-item {
    text-align: center;
    color: #fff;
    width: 23%;
}
.counter-item i {
    font-size: 40px;
    margin-bottom: 30px;
}
.counter-item h3 {
    font-size: 30px;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 15px;
}
.counter-item p {
    font-weight: 600;
}
.counter-item:not(:first-child) {
    border-left: 1px solid #fff;
}