.freelance {
    background-image: url('../../images/cta-action.jpg');
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
    text-align: center;
    background-position: center;
}
.freelance::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: -webkit-linear-gradient(
-45deg
,rgba(88, 195, 255,.7) 0,rgba(0, 77, 230,.7) 40%,rgba(0, 59, 177,.7) 100%);
    z-index: -1;
}
.freelance h2 {
    color: #fff;
    font-size: 30px;
    margin-bottom: 65px;
}