.header {
    background-color: #fff;
    padding: 20px 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
}
.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-left a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 30px;
    color: #000;
    font-family: 'Raleway', sans-serif;
}
.header-right a {
    color: #222;
    text-decoration: none;
    font-size: 16px;
    margin-left: 27px;
    font-family: 'Raleway', sans-serif;
    transition: 0.3s;
}
.header-active {
    color: #1461ff !important;
}
.header-right a:hover {
    color: #1461ff;
}