.home {
    padding: 20% 0 15%;
    background-image: url('../../images/banner.jpg');
    background-size: cover;
    position: relative;
    z-index: 1;
}
.home::before {
    content: '';
    background: -webkit-linear-gradient(
-45deg
,rgba(88, 195, 255,.7) 0,rgba(0, 77, 230,.7) 40%,rgba(0, 59, 177,.7) 100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.home-hello {
    background-color: #fff;
    width: fit-content;
    padding: 10px 15px;
    border-radius: 5px;
    color: #1461ff;
    font-size: 30px;
    font-weight: 700;
}
.home-inner h1 {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 25px 0;
}
.home-inner p {
    color: #fff;
    font-size: 15px;
    width: 50%;
    line-height: 1.5;
    margin-bottom: 25px;
}
.home-icons {
    display: flex;
}
.home-icons a {
    border-radius: 50%;
    text-decoration: none;
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    color: #fff;
    font-size: 14px;
    transition: 0.3s;
}
.home-icons a:hover {
    background-color: #fff;
    color: #1461ff;
}
.home::after {
    content: '';
    background-image: url('../../images/shape.png');
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 151px;
    background-size: cover;
    background-position: center;
}