.service {
    background: #fafafa;
}
.service-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.service-item {
    width: 31%;
    background-color: #fff;
    box-shadow: 0 0 30px rgb(0 0 0 / 5%);
    padding: 40px 20px;
    box-sizing: border-box;
    margin-bottom: 30px;
    text-align: center;
    transition: .4s;
    border-bottom: 3px solid transparent;
}
.service-item i {
    color: #1461ff;
    font-size: 40px;
}
.service-item h3 {
    font-size: 20px;
    margin-top: 35px;
    margin-bottom: 20px;
    transition: .3s;
}
.service-item p {
    color: #777;
    line-height: 1.8;
    letter-spacing: 0.5px;
    font-size: 14px;
}
.service-item:hover h3{
    color: #1461ff;
}
.service-item:hover {
    transform:translateY(-10px);
    border-bottom: 3px solid #1461ff;
}