.work-header {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 60px;
}
.work-btn {
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 30px;
    color: #777;
    font-weight: 600;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.work-active {
    background-color: #1461ff;
    color: #fff;
}
.work-btn:hover {
    background-color: #1461ff;
    color: #fff;
}
.work-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.work-item {
    width: 31.5%;
    position: relative;
    margin-bottom: 30px;
}
.work-item img {
    width: 100%;
}
.work-hidden {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    top: 10px;
    background: rgba(255,255,255, 0.95);
    padding: 40px 30px;
    box-sizing: border-box;
    opacity: 0;
    transition: 0.4s;
}
.work-hidden h5 {
    color: #1461ff;
    font-size: 14px;
    margin-bottom: 10px;
}
.work-hidden h4 {
    text-transform: capitalize;
}
.work-hidden a {
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #1461ff;
    text-decoration: none;
    color: #1461ff;
}
.work-item:hover .work-hidden {
    opacity: 1;
}
.blue-btn.load-btn {
    margin: 0 auto;
}